@use "~/styles/helpers" as *;

.header {
  padding-block: rem(15);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
	background-color: var(--color-light);
	transition-duration: var(--transition-duration);

  &--changed {
    box-shadow: 0 rem(4) rem(4) 0 rgba(0, 0, 0, 0.25);
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}