@use "~/styles/helpers" as *;

.menu {
  &__list {
    display: flex;
    align-items: center;
    column-gap: rem(35);

		@include mobile {
			flex-direction: column;
			row-gap: rem(15);
		}
  }

  &__link {
    @include hover(false) {
      opacity: 0.6;
    }
  }
}